# File created using '.gitignore Generator' for Visual Studio Code: https://bit.ly/vscode-gig
# Created by https://www.toptal.com/developers/gitignore/api/windows,visualstudiocode,jsonnet,python
# Edit at https://www.toptal.com/developers/gitignore?templates=windows,visualstudiocode,jsonnet,python

### Jsonnet ###
# Dependency directories
audit-447319-0fddfcde1756.json
